[Unit]
Description=Web Crawler
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=30
User=root
ExecStartPre=/bin/sleep 2
ExecStart=/opt/crawler/venv/bin/python /opt/crawler/app/crawler.py --config /opt/crawler/config/crawler.cfg
StandardOutput=append:/var/log/crawler.log
StandardError=append:/var/log/crawler.log

[Install]
WantedBy=multi-user.target
